NEXT_PUBLIC_SUPABASE_URL=https://bsfertenfskaalyrvwpw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJzZmVydGVuZnNrYWFseXJ2d3B3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkzMDAyMjIsImV4cCI6MjA5NDg3NjIyMn0.ioc2e-ECVuYFQ2jNZED6lkDIkmOvXEZ_ljJbxjw1HAc
NEXT_PUBLIC_APP_URL=http://localhost:3000
